.CALEXT .fa-stack-1x {
    /*color:#000;*/
}

.CALEXT .current .event,
.CALEXT .upcoming .event {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.CALEXT .current .header .title,
.CALEXT .upcoming .header .title {
  text-align:inherit;
}

.CALEXT .current .header .subtitle,
.CALEXT .upcoming .header .subtitle {
  display:none;
}



.CALEXT .startHere {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.CALEXT .endHere,
.CALEXT .endHere .eventContainer {

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.CALEXT .wrapper {
	display: -webkit-flex;
	display: flex;
    
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: flex-start;
	justify-content: flex-start;

    -webkit-align-items: stretch;
	align-items: stretch;

	-webkit-align-content: flex-start;
	align-content: flex-start;

}


.CALEXT .slot {
    margin-left:5px;
    margin-right:5px;

	-webkit-flex-grow: 1;
	flex-grow: 1;

	-webkit-flex-basis: 100px;
	flex-basis: 100px;

    box-sizing:border-box;
    margin-bottom:5px;
}



.CALEXT .slot .header {
	display: -webkit-flex;
	display: flex;
    
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
    
	-webkit-justify-content: flex-start;
	justify-content: flex-start;

    -webkit-align-items: baseline;
	align-items: baseline;

	-webkit-align-content: flex-end;
	align-content: flex-end;
    
    border-bottom: 2px solid #CCC;
    padding:2px;
    margin-bottom:0;
    border-radius:15px 15px 0 0;
}

.CALEXT .slot .header > * {
    opacity:1.0;
}
.CALEXT .slot .header .title,
.CALEXT .slot .header .subtitle {
	-webkit-flex-grow: 1;
	flex-grow: 1;

	-webkit-flex-basis: auto;
	flex-basis: auto;

    line-height:100%;
    opacity:1;
}

.CALEXT .slots .eventsBoard {
  overflow:hidden;
}

.CALEXT .row {
	-webkit-flex-direction: row;
	flex-direction: row;
}

.CALEXT .column {
	-webkit-flex-direction: column;
	flex-direction: column;
}



.CALEXT .header .title {
    font-weight:bold;
    text-align:left;
    color:#FFF;
    padding-left:10px;
}



.CALEXT .header .subtitle {
    font-weight:bold;
    text-align:right;
    font-size:70%;
    padding-right:10px;
}

.CALEXT .thisyear .header {
  background:rgba(255,255,255, 0.25)
}

.CALEXT .thismonth .header {
  background:rgba(255,255,255, 0.5)
}

.CALEXT .thisweek .header {
  background:rgba(255,255,255, 0.75)
}

.CALEXT .thisweek .header .subtitle{
  color:#333
}


.CALEXT .today .header {
    background:rgba(255,255,255,1.0);
}

.CALEXT .today .header .subtitle {
    color:#000;
}

.CALEXT .today .header .title {
    color:#000;
}




.CALEXT .day_6 .header {
    background:rgba(51,51,153,0.5);
}

.CALEXT .day_7 .header {
    background:rgba(153,51,51,0.5);
}

.CALEXT .slot.day_6 .title {
    color:#FFF;
}

.CALEXT .slot.day_7 .title {
    color:#FFF;
}

.CALEXT .slot.day_6 .subtitle {
    color:#99F;
}

.CALEXT .slot.day_7 .subtitle {
    color:#F99;
}

.CALEXT .daily .fulldayevent .eventTime {
    display:none;
}

.CALEXT .monthly .eventLocation {
    /*
    display:none;
    */
}




.CALEXT .events {
    list-style:none;
    padding:0;
    margin:0;
    color:#FFF;
}

.CALEXT .overflowed {
    /* overflow:hidden; */
}

.CALEXT .overflowed .events {
    position:relative;

    -webkit-animation-name:scroll;
    animation-name:scroll;

    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}

@-webkit-keyframes scroll{
    from {
        -webkit-transform: translate(0, 0);
    }
    to {
        -webkit-transform: translate(0, -100%);
    }
}


@keyframes scroll{
    from {
        transform: translate3d(0,0,0);
    }
    to {
        transform: translate3d(0,-100%,0);
    }
}








.CALEXT .eventTime {
    text-align:right;
    font-size:80%;
    font-weight:normal;
    -webkit-order:1;
    order:1;
}

.CALEXT .eventLocation {
    text-align:right;
    font-size:80%;
    font-weight:normal;
    -webkit-order:4;
    order:4;
}

.CALEXT .eventDescription {
  -webkit-order:3;
  order:3;
  display:none;
}

.CALEXT .eventContent {
    -webkit-order:2;
    order:2;
    width:100%;
    text-align:left;
}

.CALEXT .upcoming .eventTime {
    -webkit-order:2;
    order:2;
}


.CALEXT .upcoming .eventContent {
    -webkit-order:1;
    order:1;
}

.CALEXT .calendarMonth {
    margin:auto;
    max-width: 90%;
}


.CALEXT .monthTitle {
  display:block;
  width:100%;
  text-align:right;
  font-weight:bold;
  color: #FFF;
  padding-right:10%;
  font-size:150%;
  line-height:150%;
}

.CALEXT .calendarMonth .eventContent {

    text-overflow:ellipsis;
}

.CALEXT .calendarMonth th {
    font-size: 70%;
    font-weight: normal;
    border:1px solid #000;
}

.CALEXT .calendarMonth td {
    padding:0;
    margin:0;
    vertical-align:top;
    border:1px solid #000;
}

.CALEXT .calendarMonth .header {
    padding:0;
    margin:0;
    text-align:right;
    border-radius:0
}

.CALEXT .calendarMonth .header .title {
    font-size:50%;
    padding:0;
    padding-right:5px;
    margin:0;
    text-align:right;
    line-height:100%;
    color:#999
}

.CALEXT .calendarMonth .header .subtitle {
  display:none;
}

.CALEXT #CALEXT_month .calendarMonth .thismonth.day_6 .header {
    background:#66C;
    color:#99F;
}

.CALEXT #CALEXT_month .calendarMonth .thismonth.day_7 .header {
    background:#C66;
    color:#F99;
}

.CALEXT #CALEXT_month .calendarMonth .thismonth.day_6 .header .title{
    color:#CCF;
}

.CALEXT #CALEXT_month .calendarMonth .thismonth.day_7 .header .title{
    color:#FCC;
}







.CALEXT #CALEXT_month .calendarMonth .today {
  border:3px solid #DEA527;
}

.CALEXT #CALEXT_month .calendarMonth .today .header {
    background-color:#FFF;
}

.CALEXT #CALEXT_month .calendarMonth .today .header .title {
    color:#000;
}



.CALEXT #CALEXT_month .weeks .day_6  {
    background:rgba(51,51,153,0.3);
}

.CALEXT #CALEXT_month .weeks .day_7 {
    background:rgba(153,51,153,0.3);
}

.CALEXT #CALEXT_month .calendarMonth .day_6 {
    background:rgba(51,51,255,0.3);
    color:#99F;
}


.CALEXT #CALEXT_month .calendarMonth .day_7 {
    background:rgba(255,51,51,0.3);
    color:#F99;
}

.CALEXT #CALEXT_month tr.thisweek {
    background-color : rgba(255,255,127, 0.1);
}

.CALEXT #CALEXT_month .thisweek th {
    color:#FF9;
    font-weight:bold;
}

.CALEXT #CALEXT_month .thismonth {
    background-color : rgba(127,127,127, 0.1);
}

.CALEXT #CALEXT_month .thismonth .header .title{
    color:#FFF;
}

.CALEXT #CALEXT_month .lastmonth,
.CALEXT #CALEXT_month .nextmonth {
}

.CALEXT #CALEXT_month .today {
    background-color : rgba(255,255,255, 0.9);
}

.CALEXT .weeks th{
    width:100px;
    font-weight:normal;
    font-size:50%;
}

.CALEXT .weeks th {
    width:100px;
}
.CALEXT #CALEXT_month .eventLocation,
.CALEXT #CALEXT_month .eventTime {
    display:none;
}

.CALEXT #CALEXT_month .event {
    font-weight:normal;
    font-size:50%;
}

.CALEXT #CALEXT_month .event .symbol {
    -webkit-order:1;
    order:1;
    display:block;

	-webkit-flex-basis: 20px;
	flex-basis: 20px;

    text-align:center;
    min-width:20px;
}

.CALEXT .oneLineEvent {
  line-height:1em;
  max-height:1em;
  text-overflow:ellipsis;
  overflow:hidden;
}




/** Preset styles of event **/
.CALEXT .md-12 {
  font-size: 100%;
}


.CALEXT .symbol {
    -webkit-order:1;
    order:1;
    display:block;
    text-align:center;
    font-size:100%;
    -webkit-align-self:center;
    align-self:center;
    padding-left:3px;
    padding-right:3px;
    min-width:32px;
}

.CALEXT .eventContainer {
    text-align:left;
    
    -webkit-order:2;
    order:2;

    display: -webkit-flex;
    display: flex;
    
    -webkit-align-items: stretch;
    align-items: stretch;

    width:100%;

    -webkit-flex-direction: column;
    flex-direction: column;
    
    padding-right:10px;
}

.CALEXT .event .eventContainer {
    background-color:rgba(1,1,1, 0.7);
    color:#FFF;
    padding:2px 10px 2px 5px;
}

.CALEXT .events .symbol.flag_icon-css,
.CALEXT .events .symbol.emoji {
  /*background-color: inherit;*/
}


.CALEXT  #CALEXT_month .events .symbol.emoji {
  font-size:50%;
}

.CALEXT .event.fulldayevent .eventContainer {
  background-color:inherit;
}

.CALEXT .event {
    text-align:left;
    font-size:60%;
    margin:0;
    font-weight:bold;
    line-height:100%;
    margin-top : 1px;
    /*box-sizing: border-box;*/
    color:#000;
    background-color:#CCC;
    /*height:100%;*/ /* causes problems on older browsers, doesn't seem to be necessary */
    padding:0;

	display: -webkit-flex;
	display: flex;
    
	-webkit-flex-direction: row;
	flex-direction: row;

}
